.venv
pgdata/
pgdata.bak/
*.sql
!insert_mock.sql
*.dump
*.tar
*.gz
TODO.md
resources/avatars/*
!resources/avatars/.gitkeep
resources/icons/*
!resources/icons/.gitkeep
resources/images/*
!resources/images/.gitkeep
.env
